@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* COLOR THEME EXPLAINED
 ********** BACKGROUDS **********
 * Default: bg-zinc-900
 * Card: bg-zinc-800

 ********** TEXTS **********
 * Default: text-zinc-100
 * Muted: text-zinc-400

 ********** ACCENTS **********
 * Default: cyan-400
 * Accent: cyan-300

 */

main.overflow-y-auto {
    /* For WebKit browsers */
    ::-webkit-scrollbar {
        width: auto;
    }

    ::-webkit-scrollbar-track {
        background: #ffffff00;
    }

    ::-webkit-scrollbar-thumb {
        background: #155e75;
        border-radius: 0px;
    }

    scrollbar-width: thin;
    scrollbar-color: #155e75 #ffffff00;
}

::selection {
    background-color: #ffffff;
    color: #000000;
}

::-moz-selection {
    background-color: #ffffff;
    color: #000000;
}
